body {
  font-family: "Source Sans Pro", "Trebuchet MS", "Lucida Grande",
    "Bitstream Vera Sans", "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 50px;
  color: #293c4b;
}

h1 {
  font-size: 30px;
}

.error {
  color: white;
  font-weight: bold;
  padding: 10px;
  margin-bottom: 20px;
}

.weather-report {
  padding: 10px;
  color: #ffffff;
}
